<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Kamogelo Digwamaje</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!--footer-->
    <footer>
        <!--<p>Kamogelo Digwamje</p>-->
        <a href="Kamololadm@gmail.com">Kamololadm@gmail.com</a></p>
        <a href="https://github.com/kamololadm-png" target="_blank">My GitHub</a>
        <a href="https://app.netlify.com/teams/kamololadm-png/projects" target="_blank">MyNetlify</a>
    </section>
</footer>
</body>
</html>